.edys-search-popup{
	background: white;
	border: 1px solid #d2d2d2;
	-moz-border-radius: 5px;
	-wenkit-border-radius: 5px;
	width: 340px;
	position: absolute;
	z-index: 1000;
}

.searchcontainer-close {
  display: block;
  text-align: right;
  overflow: hidden;
  clear: both;
  margin:0 10px;
}

#searchiframe {
	width: 340px;
	position: absolute;
	border: none;
	z-index: 900;
}
#searchcontainer-noresults {
	color: black;
}
.gsc-result-siteSearch {
	padding: 10px;
	margin: 10px 10px 0 10px;
	background: #f0f0f0;
	text-align: left;
	font: 12px/13px Helvetica, Arial, sans-serif;
}
.gsc-cursor-box {
	padding: 10px 0 10px 10px;
	margin: 10px 10px 10px 10px;
	background: #f0f0f0;
}
.gsc-cursor-page {
	display: inline;
	cursor: pointer;
	color: #b9000f;
	padding: 3px 5px;
}
.gsc-cursor-page:hover {
	background: #b9000f;
	color: white;
}
.gsc-cursor-current-page {
	font-weight: bold;
}
.gsc-resultsHeader, .gsc-twiddle, .gs-watermark, .gs-visibleUrl, .gsc-trailing-more-results {
	display: none;
}
.edys-search-fin {
	background-image: url('search-fin.gif');
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	position: absolute;
	/*margin: 0 0 0-7px;*/
	/*left: 50%;*/
  
}

.edys-search-fin-left {
  background-position: -14px -8px;
}

.edys-search-fin-right {
  background-position: 0px -8px;
}

.edys-search-fin-top {
  background-position: -8px -14px;
}
.edys-search-fin-bottom {
  background-position: -8px 0px;
}