#searchcontainer {
	background: white;
	border: 1px solid #d2d2d2;
	-moz-border-radius: 5px;
	-wenkit-border-radius: 5px;
	width: 340px;
	position: absolute;
	z-index: 1000;
}
#searchiframe {
	width: 340px;
	position: absolute;
	border: none;
	z-index: 900;
}
#searchcontainer-noresults {
	color: black;
}
.gsc-result-siteSearch {
	padding: 10px;
	margin: 10px 10px 0 10px;
	background: #f0f0f0;
	text-align: left;
	font: 12px/13px Helvetica, Arial, sans-serif;
}
.gsc-cursor-box {
	padding: 10px 0 10px 10px;
	margin: 10px 10px 10px 10px;
	background: #f0f0f0;
}
.gsc-cursor-page {
	display: inline;
	cursor: pointer;
	color: #b9000f;
	padding: 3px 5px;
}
.gsc-cursor-page:hover {
	background: #b9000f;
	color: white;
}
.gsc-cursor-current-page {
	font-weight: bold;
}
.gsc-resultsHeader, .gsc-twiddle, .gs-watermark, .gs-visibleUrl, .gsc-trailing-more-results {
	display: none;
}
#search-fin {
	background-image: url('search-fin.gif?1');
	background-repeat: no-repeat;
	height: 13px;
	width: 13px;
	position: absolute;
	margin-left: -6px;
	left: 50%;
}
	.search-fin-top {
		background-position: 0px 0px;
		top: -13px;
	}
	.search-fin-bottom {
		background-position: 0px -13px;
		bottom: -13px;
	}