.edys-sw-search-popup { 
	background: #e1e1e1;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	width: 330px; 
	position: absolute; 
	z-index: 10000;
	-moz-box-shadow: 0px 2px 15px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 2px 15px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 15px rgba(0,0,0,0.15);
	color: #484d4f;
	font-size: 12px;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif; 
	padding: 10px 0px 10px 0px;
	-moz-text-shadow: 0 1px 0 #ffffff;
	-webkit-text-shadow: 0 1px 0 #ffffff;
	text-shadow: 0 1px 0 #ffffff;
	text-align: left;
	-moz-opacity: 0.95;
	-webkit-opacity: 0.95;
	opacity: 0.95;
} 
.edys-sw-search-popup table { border-collapse: collapse; }
.edys-sw-search-popup .gs-title {
	color: #1b2124;
	font-weight: bold;
	text-decoration: none;
	padding: 0 0 10px 0;
}
.edys-sw-search-container-close { 
	display: block; 
	float: right; 
	overflow: hidden; 
	width: 10px;
	height: 11px;
	clear: both; 
	margin-right: 10px;
	background: url("http://static.kraftal.com/assets/site_search/3.0/site-search-closebtn.png") no-repeat right 0; 
} 
.edys-sw-search-masking-iframe { 
	width: 340px; 
	position: absolute; 
	border: none; 
	z-index: 9000; 
} 
.edys-sw-search-container-noresults { 
	padding: 20px; 
	text-align: center;
} 
.edys-sw-search-popup .gsc-result-siteSearch {
	margin: 0px 10px 10px 10px;
	overflow: hidden;
} 
.edys-sw-search-popup .gsc-results {
	padding-top: 30px;
	margin-top: -20px;
	overflow: hidden; 
}
.edys-sw-search-popup .gsc-cursor-box {  
	border-top: 1px solid #b9b9b9;
	padding-top: 10px;
	font-size: 14px;
	color: #0066bb;
	text-align: right;
	padding-right: 10px;
} 
.edys-sw-search-popup .gsc-cursor-page { 
	display: inline; 
	cursor: pointer; 
	padding: 3px 5px; 
} 

.edys-sw-search-popup .gsc-url-top, .edys-sw-search-popup .gsc-thumbnail-inside { display: none; }
.edys-sw-search-popup .gsc-cursor-page:hover, .edys-sw-search-popup .gsc-cursor-current-page { 
	color: #484d4f; 
} 
.edys-sw-search-popup .gsc-cursor-current-page { font-weight: bold; } 
.edys-sw-search-popup .gsc-resultsHeader, .edys-sw-search-popup .gsc-twiddle, .edys-sw-search-popup .gs-watermark, .edys-sw-search-popup .gs-visibleUrl, .edys-sw-search-popup .gsc-trailing-more-results { display: none; } 
.edys-sw-search-fin { 
	width:0px; 
	height:0px; 
	position: absolute;
	border-width: 20px;
	margin-top:-20px;
	margin-left:-20px;
	border-style: solid; 
	border-color: #e1e1e1;
} 
.edys-sw-search-fin-left { 
	margin-right:-40px;
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
} 
.edys-sw-search-fin-right { 
	margin-left: -40px;
	border-top-color: transparent !important;
	border-left-color: transparent !important;
	border-bottom-color: transparent !important;
} 
.edys-sw-search-fin-top { 
	margin-bottom:-40px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
} 
.edys-sw-search-fin-bottom { 
	margin-top: -40px;
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-left-color: transparent !important;
}