.voog-search-modal {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  width: 350px;
  max-width: 100%;
  max-height: 300px;
  margin-top: 20px;
  color: #333333;
  color: rgba(0,0,0,.8);
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: #ffffff;
  background-color: rgba(255,255,255,1);
  box-sizing: border-box;
  box-shadow: 0 0 30px #7f7f7f;
  box-shadow: 0 0 30px rgba(0,0,0,.5);
}
.voog-search-mobile-mode {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  max-height: none;
  margin-top: 10px;
}

.editmode .voog-search-mobile-mode {
  bottom: 40px;
}

.voog-search-modal-results {
  padding: 20px;
}

.voog-search-modal.no-content {
  text-align: center;
  bottom: auto;
}

.voog-search-modal-result {
  margin-top: 1.6em;
}

.voog-search-modal h3 {
  padding: 0;
  margin-top: .5em;
  margin-bottom: 0;
}
.voog-search-modal-result h3:first-child {
  margin-top: 0;
}
.voog-search-modal-result a {
  color: #333333;
  color: rgba(0,0,0,.8);
  text-decoration: none;
}
.voog-search-modal-result em {
  font-style: normal;
  background-color: #F9EC5A;
  background-color: rgba(249,236,90,.5);
  border-radius: 2px;
  padding: 0 .2em;
}

.voog-search-modal-result:first-child {
  margin-top: 0;
}

.voog-search-loader {
  display: none;
  text-align: center;
  height: 1em;
  background-image: url('dotLoader.svg');
  background-repeat: no-repeat;
  background-position: center;

}
.voog-search-modal.loading .voog-search-loader {
  display: block;
}
